<% html_title("New User") %>
<h1>Add a new user</h1>
 <div id="getting_started">
   <p>Pay close attention to the <span class="welcome">email</span> address. 
     Once we create this new user record, we will email a new password to your user.</p>

 </div>
<%= render :partial => "form" %>