<a href="/home"><img src="images/tree-home.png" align="right" height="432"></a>
    <p>&nbsp;</p>
    <h2>Teach - Learn - Test</h2>
    <p>Sageify is a web application dedicated to providing you a cloud on which to post training material for your organization.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2>Use Sageify to:</h2>
    <ul>
    <li>* Show a new hire how to fill out a timesheet</li>
    <li>* Quiz volunteers on proper methods of accepting donations</li>
    <li>* Explain your organization's core mission to new recruits</li>
    <li>* Share policy, procedure, and training concepts</li>
    </ul>

    <span class="get-started"><%= link_to image_tag("button-getstarted.gif", :border=>0), signup_url %></span>

