<div id="getting_started">
  <h2>Getting Started . . . </h2>
  <p><span class="welcome">Welcome to Sageify!</span></p>
  <p>To get started transferring knowledge, click "New lesson" and follow the instructions to create a new online lesson for your associates.</p>
  
</div>