<div id="getting_started">
  <h2>You've added users!</h2>
  <p>
    Your learners can now sign in and learn!
    Optionally, you may wish to add some <span class="welcome">Exams</span>. 
    Exams consist of a number of multiple-choice questions, and can give you feedback on your lesson's content, as well as your learners' progress.
    To start adding exams, click on Exams on the left-hand navigation bar. 
    
    Naturally, once you've created an exam, you can attach it to this lesson by returning here and clicking "Assign exams."
  </p>
</div>