  <div id="getting_started">
    <h2>You've created pages!</h2>
    <p>
      Now, let's assign this lesson to some <span class="welcome">users</span>. 
      To start adding users, go over to the Users tab on the left-hand navigation bar.
      Once you've added a user, come back to this lesson and click "Assign users" to instruct them to learn this lesson.
    </p>
  </div>