  <div id="getting_started">
    <h2>You've created a lesson!</h2>
    <p>
      But, this lesson doesn't have any <span class="welcome">Pages</span>. 
      Each lesson is comprised of one or more pages full of content, instructions, and knowledge.
      To start adding content to your project, click "Add a new page" below.
    </p>
  </div>