<h1>About Sageify</h1>
<p>
Sageify is an open-source instructional material management system. Out of the box, it's rigged to allow the creation of organizations, learners, lessons, and even exams. 
</p>
<br />
<p>
Lessons can be assigned to individual learners, and they can log into the system to view the content. Once they have finished viewing the lesson, a record of their having read the lesson is recorded. 
</p>
<br />
<p>
If a more regimented system is required, you can optionally add exams to the end of a lesson. Assigned learners can take the exam online, and you can check in on their results.
</p>
<br />
<p>
All graphical and design elements are courtesy of Chris Orebaugh (chrisorebaugh at ameritech dot net)
</p>
<br />
<p>
  Sageify source code is released under the MIT license, and available at <a href="http://github.com/svesely/Sageify">http://github.com/svesely/Sageify</a>. Feel free to download it, modify it, and host it on your own. We'd love it if you contributed any modifications upstream!
</p>
